/*
SPDX-PackageName: finnix-mirrors-website
SPDX-PackageSupplier: Ryan Finnie <ryan@finnie.org>
SPDX-PackageDownloadLocation: https://codeberg.org/finnix/finnix-mirrors-website
SPDX-FileCopyrightText: © 2020 Ryan Finnie <ryan@finnie.org>
SPDX-License-Identifier: MPL-2.0
*/
.container {
  padding-top: 2em;
  font-size: 120%;
}

h1 a, h1 a:visited {
  color: inherit;
  text-decoration: inherit;
}

.link-down {
  text-decoration: line-through;
}

.error-recent {
  color: #990000;
}

a.proto-https {
  color: #44b733;
}
