.olControlAttribution {
  position: absolute;
  font-size: 10px;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.1);
  font-family: Arial;
  padding: 2px 4px;
  border-radius: 5px 0 0 0;
}
div.olControlZoomPanel {
  top: 15px;
  left: 15px;
}

.olPopup {
  border: 1px solid ThreeDShadow;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.olPopupContent {
}
